<!DOCTYPE html>
<html>
<head>
    <title>Edit Expense</title>
</head>
<body>

<h2>Edit Expense</h2>

<form method="POST">

    <label>Amount:</label><br>
    <input type="number" name="amount" value="{{ expense.amount }}" required><br><br>

    <label>Category:</label><br>
    <input type="text" name="category" value="{{ expense.category }}" required><br><br>

    <label>Description:</label><br>
    <input type="text" name="description" value="{{ expense.description }}"><br><br>

    <label>Date:</label><br>
    <input type="date" name="expense_date" value="{{ expense.expense_date }}" required><br><br>

    <button type="submit">Update Expense</button>

</form>

<br>
<a href="/dashboard">← Back to Dashboard</a>

</body>
</html>