<!DOCTYPE html>
<html>
<head>
    <title>View Expenses</title>
</head>
<body>

<h2>All Expenses</h2>

<table border="1">
    <tr>
        <th>Amount</th>
        <th>Category</th>
        <th>Description</th>
        <th>Date</th>
    </tr>

    {% for expense in expenses %}
    <tr>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.category }}</td>
        <td>{{ expense.description }}</td>
        <td>{{ expense.expense_date }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/dashboard">Back to Dashboard</a>

</body>
</html>